body{
    background-image: url(table.png);
    text-align: center;

}
h1{
    margin-top: 20px;
    color: goldenrod;
    font-size: 55px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-size: 25px;
    color: white;
    text-align: center;
}
#messageell{
    font-style: italic;
}
button{
    color: #016f32;
    font-size: 30;
    padding: 10;
    background-color: goldenrod;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 4px;
}
#newcard-btn{
    margin-top: 10px
}